.quo {
  margin-top: 1.5rem;
}

.definition {
  border-radius: 10px;
  background-color: #e9edc9;
  border: 1px solid #000;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 19px;
  line-height: 1.4;
}
