.wordsList {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
}

.foundWords {
  max-width: 30rem;
  width: 90%;
  margin: 2rem auto;
}

.container {
	font-family: 'Lato', sans-serif;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  padding-left: 10px;
  padding-right: 10px;
}

.responsive-table li {
	border-radius: 3px;
	padding: 25px 30px;
	display: flex;
	justify-content: space-around;
	margin: 15px;
}

.responsive-table .table-row {
	background-color: #ffffff;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.foundWords li {
  margin-bottom: 1rem;
}

.options {
  max-width: 47rem;
  width: 90%;
  margin: 2rem auto;
  color: #ffee32;
}

@media screen and (max-width: 768px) {
  .wordsList {
    max-width: 30rem;
    width: 90%;
    margin: 2rem auto;
  }
}