.wordsList {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
}

.foundWords {
  max-width: 30rem;
  width: 90%;
  margin: 2rem auto;
}

.foundWords li {
  margin-bottom: 1rem;
}

.options {
  max-width: 47rem;
  width: 90%;
  margin: 2rem auto;
  color: #ffee32;
}

@media screen and (max-width: 768px) {
  .wordsList {
    max-width: 30rem;
    width: 90%;
    margin: 2rem auto;
  }
}