*{
  box-sizing: border-box;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
body{
  padding:0;
  margin:0;
  background-color: #F1f5f8;
}

main {
  margin: 3rem auto;
  text-align: center;
}