.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

.card1 {
  background-color: #14213d;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
