.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  text-align: center;

  background-color: white;
  z-index: 30;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  animation: slide-down 500ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}